h1 {
    text-align: center;
}

div#principal {
    display: flex;
    gap: 10px; /* Espaço entre os blocos */
}

div.bloco {
    width: 30%;
    padding: 10px; /* Adiciona espaço interno */
    background-color: #dfdfdf; /* Cor de fundo leve */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

div.central {
    width: 40%;
    padding: 10px;
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

div.updates {
    width: 30%;
    padding: 10px;
    background-color: #f4f4f4;
    border: solid 3px ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
    overflow: auto; /* Adiciona barra de rolagem se necessário */
    max-height: 500px; /* Define uma altura máxima para evitar crescimento excessivo */
}

div > h3 {
    text-align: center;
}

textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.note-container {
    margin-top: 10px;
}

.note {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.note button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: #eee;
    cursor: pointer;
}

.note button.edit {
    right: 40px;
}

.note button:hover {
    background: #ddd;
}

.note button.delete {
    color: red;
}

.note textarea {
    width: calc(100% - 20px); /* Ajusta a largura para incluir padding e borda */
    border: none;
    background: transparent;
    resize: none;
}